<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waterappmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaterAppManagement">
        <activity android:name=".verifyno"></activity>
        <activity android:name=".waterlist" />
        <activity android:name=".faqs" />
        <activity android:name=".inquiries" />
        <activity android:name=".watermaintenance" />
        <activity android:name=".waternews" />
        <activity
            android:name=".myaccountactivity"
            android:exported="true" />
        <activity
            android:name=".inboxactivity"
            android:exported="true" />
        <activity
            android:name=".eaduanactivity"
            android:exported="true" />
        <activity
            android:name=".helplineactivity"
            android:exported="true" />
        <activity
            android:name=".helpcenteractivity"
            android:exported="true" />
        <activity
            android:name=".billactivity"
            android:exported="true" />
        <activity
            android:name=".waterinfoactivity"
            android:exported="true" />
        <activity
            android:name=".homepageactivity"
            android:exported="true" />
        <activity
            android:name=".signupactivity"
            android:exported="true" />
        <activity
            android:name=".signinactivity"
            android:exported="true" />
        <activity
            android:name=".mainactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>